@font-face {
    font-family: 'cantarellregular';
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/cantarell_regular-webfont.woff2") format("woff2"),
         url("../fonts/cantarell_regular-webfont.woff") format("woff");
}

body {
    font-family: 'cantarellregular', 'helvetica', 'arial', sans-serif;
}

p {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.box {
    background: #cfcfcf;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #a2a2a2;
    margin-top: 20px;
    text-align: center;
}

.box .heading {
    margin-top: 70px;
}

#herosection {
    height: 500px;
}

#aboutme {
    height: 400px;
}

#services {
    min-height: 300px;
}

#services .servicecard {
    height: 300px;
}

#work {
    margin-top: 30px;
}

#work .workcard {
    height: 200px;
}

#product-image div {
    height: 150px;
}

#contactherosection .image {
    height: 100px;
}

#contactherosection .text {
    height: 200px;
}

#contactherosection .contactform {
    height: 350px;
}

#contactherosection .contactme {
    height: 350px;
}

@media screen and (max-width: 1200px) {
    .grid-con {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-column-gap: 20px;
    }

    #work .workcard,
    #services .servicecard {
        height: 150px;
    }
}

@media screen and (max-width: 768px) {
    .heading {
        margin-top: 20px;
    }

    #herosection,
    #aboutme,
    #services,
    #work,
    #product-image div,
    #contactherosection .image,
    #contactherosection .text,
    #contactherosection .contactform,
    #contactherosection .contactme {
        height: auto;
    }

    #services .servicecard,
    #work .workcard {
        height: 100px;
    }
}
